body{
    margin:0 auto; 
}

.content-wrapper{
    width:100%;
    height:500px;;
    position: relative;
    background-image: url(images/donation7.jpg);

}
.text-wrapper{
    text-align:center;
    color:white;
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;

}
#button{
    text-align:center;
     margin-top:10%;
    font-size: large;
  
}
#button button{
    padding:10px 10px;
    border-radius: 10px;
    
    color:white;
    background-color:brown;
    
   
}
.donate-text{
    text-align: center;
    text-transform:initial;
}
#text-header{
       
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    }
#paragraph {
    color: gray;
    font-weight:bold;
}
   
 

