body{
    margin:0 auto; 
    display:block;
    border:solid darkgray 5px ;
}
.nav{
    width:100%;
    background:gray ;
    height:80px;
}
ul{
    list-style:none;
    padding:0;
    margin:0;
    position:absolute;
}
ul li{
    float:left;
    margin-top:20px;

}
ul li a{
    width:150px;
    color:white;
    display:block;
    text-decoration: none;
    font-size:20px;
    text-align: center;
    padding:10px;
    border-radius: 10px;
    font-family:Century Gothic ;
    font-weight: bold;
}
a:hover{
    background-color:#669900;


}
ul li ul{
    background-color: #000033;
}
ul li ul li{
    float:none;
}

ul li ul{
    display: none;
}
ul li :hover ul{
    display: block;;
}
.content-wrapper{
    
    width:100%;
    height:500px;;
    position: relative;
    background-image: url(images/donation7.jpg);

}
.text-wrapper{
    text-align:center;
    color:white;
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;

}
#button{
    text-align:center;
     margin-top:10%;
    font-size: large;
  
}
#button button{
    padding:10px;
    color:white;
    background-color: brown;
    border-radius:5px;
    font-size:medium;
    border:solid brown 2px;
    margin-top:10px;
    font-family: 'Courier New', Courier, monospace;
    
   
}
.donate-text{
    text-align: center;
    text-transform:initial;
}
#text-header{
       
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    }
#paragraph {
    color: gray;
    font-weight:bold;
}
.container{
    margin-top: 5%;;
    width:100%;
    display:flex;
    margin-left:30%;
    

}
.box{
   
    padding:20px 20px;
    border:2px solid white;
    width:40px;
    height:20px;
    margin-left:10px;
    margin-right:10px;
    font-size:20px;
    color: gray;
    font-weight:bold;

    
    background-color: antiquewhite;

}
#different-color{
    padding:20px;
    border:2px solid brown;
    width:40px;
    height:20px;
    margin-left:10px;
    margin-right:10px;
    color: gray;
    font-weight:bold;
    font-size:20px;
    
    background-color:rgba(165, 42, 42, 0.308);

}
.input{
    width:100%;
    text-align: center;
  
    margin-top:5%;;
    color:gray;
   
}

#horizontal-line {
    border-bottom: 2px solid silver;
    margin-top:4%;;
    margin-left:20%;
    margin-right: 20%;;
}

#button2{
    padding:10px;
    color:white;
    background-color: brown;
    border-radius:5px;
    font-size:medium;
    border:solid brown 2px;
    margin-top:10px;
    font-family: 'Courier New', Courier, monospace;

}
.container-width{
    width:80%;
    margin-top:40px;
    display:flex;
    margin-left:10%;
   ;

}

.left-width{
    width:25%;
    height:20%;
    margin-left:10%;
    padding:40px 10px 10px;
    background-color:pink;
    border-radius:5px ;
    
}
.center{
    width:25%;
    height:20%;
    margin-left:5%;
    margin-right:5%;
    padding:40px 10px 10px;
    background-color:darkslategray;
    border-radius:5px ;
    
}
.right-width{
    width:25%;
    height:20%;
    margin-right:10%;
    padding:40px 10px 10px;
    background-color: aquamarine;
    border-radius:5px ;
    
}
.sidebar{
    margin-top:40px;
    box-sizing:border-box;
    margin-left: 14%;;
   
}
.child{
    width:40%;
     float:left;
    padding:30px;
    
    height:30px;
}
.child1{
    height:30px;
    margin-left:2%;

}
    .child img{
        height:300px;
        border-radius: 5px;
    }


#button3{

    padding:10px;
    color:white;
    background-color: brown;
    border-radius:5px;
    font-size:medium;
    border:solid brown 2px;
    margin-top:10px;
    font-family: 'Courier New', Courier, monospace;
}
.paragraph{
    
}
#paragraph-color{
    color: gray;
    font-weight: bold;
    
    
}
.sidebar2{

 margin-top:30%;
    box-sizing:border-box;
    margin-left: 14%;;
   
}
.child{
    width:40%;
   float:left;
    padding:30px;
    
    height:30px;
}
.child1{
    height:30px;
    margin-left:2%;

}
    .child img{
        height:300px;
        border-radius: 5px;
        
    }


#button3{

    padding:10px;
    color:white;
    background-color: brown;
    border-radius:5px;
    font-size:medium;
    border:solid brown 2px;
    margin-top:10px;
    font-family: 'Courier New', Courier, monospace;
}
.paragraph{
    
}
#paragraph-color{
    color:gray;
    line-height:22px;
    font-weight: bold;
    font-size:18px;
    
    
}
.footer{
    text-align: center;
    border: cornflowerblue;
     margin-top:10%;
     padding:20px;
     background-color:rgba(0, 0, 0, 0.295); 
     color:gray;
}
.footer h2{
    font-family: 'Lobster', cursive;
    color:brown;
}
.footer p{
    color:white;
}
.text{
    margin-top:60%;
    text-align: center;
}
.text h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    
}
.text p{
color:gray;
line-height:20px;
font-weight: bold;
font-size:18px;
}





 

